# Core dependencies
Flask==3.0.0
pymongo==4.5.0

# Data analysis
pandas==2.1.1
matplotlib==3.7.1
seaborn==0.12.2

# Optional for Jupyter notebooks
jupyter==1.0.0

# Deployment
gunicorn==21.2.0
python-dotenv==1.0.0